#monday{
    background-color: #252323;    
    color: yellow;
}
#tuesday{
    background-color: #252323;    
    color: yellow;
}
#wednesday{
    background-color: #252323;    
    color: yellow;
}
#thursday{
    background-color: #252323;    
    color: yellow;
}
#friday{
    background-color: #252323;    
    color: yellow;
}
h2{
    font-size: medium;
}